.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.navbar {
  background-color: #003f5c !important;
}

.navbar-brand {
  color: #fff !important;
  font-weight: bold;
}

.nav-link {
  color: #fff !important;
}

.content {
  padding-top: 80px;
}

.footer {
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #003f5c;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* 
button {
  background-color: #023247;
  box-sizing: none;
  border: 1 px solid rgb(233, 221, 221);
  color: white;
  padding: 5px;
} */
/* 
button:hover {
  background-color: rgb(175, 110, 98);
} */


button{
  background-color: rgb(147, 198, 240);
  box-sizing: none;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px;
 
  
}

button:hover{
  background-color: rgb(17, 22, 94);
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
}

.spinner-border {
  height: 100px;
  width: 100px;
}

a {
  text-decoration: none;
}

input,
select {
  height: 35px !important;
}

#uncontrolled-tab-example-tab-products {
  color: black !important;
}

.nav-item button {
  color: black !important;
}

.nav-tabs {
  background-color: cadetblue;
}

.text-field {
  border: 2px solid #aaa;
  border-radius: 4px;
  width: 100%;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  box-shadow: #aaa;
}


/* .col-md-4{
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  z-index: 0 !important;
} */

