.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.navbar {
  /* background-color: #003f5c !important; */
  background-color: #59bad8 !important;
}

.navbar-brand {
  color: #fff !important;
  font-weight: bold;
}

.nav-link {
  color: #fff !important;
}

.content {
  padding-top: 40px;
 
}

.footer {
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #003f5c;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}


button{
 
  background-color: rgb(17, 22, 94);
  box-sizing: none;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px;
 
  
}

button:hover{
  background-color: rgb(147, 198, 240);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
}

.spinner-border {
  height: 100px;
  width: 100px;
}

a {
  text-decoration: none;
}

input,
select,
textarea{
  height: 35px !important;
  margin: 10px;
  
}

#uncontrolled-tab-example-tab-products {
  color: black !important;
}

.nav-item button {
  color: black !important;
}

.nav-tabs {
  background-color: cadetblue;
}

.text-field {
  border: 2px solid #aaa;
  border-radius: 4px;
  width: 100%;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  box-shadow: #aaa;
}


 .first{
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  z-index: 0 !important;
} 

.update-profile{
  width: 40%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.view-button{
  display: block;
margin: 10px;
}

.accept{
  background-color: rgb(27, 134, 63) !important;
  color: white;
  border-radius: 6px;
  margin: 5px;
}


.decline{
  background-color: rgb(236, 30, 30) !important;
  color: white;
  border-radius: 6px;
  margin: 5px;
}
.payment-button{
  background-color: black;
  width:200px;
  height:40px;
  border-radius:5px;
  font: 15px 'Google Sans', sans-serif;
    fill: #FFFFFF;
    font-weight: normal;
    text-align: center;
}

.payment-button:hover{
  background-color: rgba(27, 27, 27, 0.692);
}

.continue-shopping{
  margin: auto;
  background-color:black;
  border-radius: 5px;
  width:220px;
  height:40px;
  font: 15px 'Google Sans', sans-serif;
    fill: #FFFFFF;
    font-weight: normal;
    text-align: center;
}

.continue-shopping:hover{
  background-color: rgba(27, 27, 27, 0.692);
}

.products-box{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

/* 
.product{
  width: 350px;
  height: auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-right: 24px;
  transition: all 0.3s ease-in-out;
  padding: 12px;
  border-radius: 10px; 
} */

.choose{
  border-radius: 10px;
  background-color: #d9eff8;
}

.shop-class{
  text-align:center;
  color: #31a0c2;
  
}

h2 span{
  background-color: #d9eff8;
  border-radius: 10px;
}